.image:hover {
  background-color: #0a0a0a;
}

.thumbnail:hover .caption {
  border: solid whitesmoke 2px;
}

.caption {
  border: transparent solid 2px;
  background-color: #0a0a0a;
  cursor: default;
}

.content {
  width: 80%;
  height: 80vh;
}

.error {
  color: red;
  margin-left: 3px;
  font-size: 0.8em;
}
